.loadingRecipeSkeleton__container {
  padding: 1rem;
}

.loadingRecipeSkeleton__title {
  height: 2.5rem;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 1.5rem;
}

.loadingRecipeSkeleton__ingredientsTitle {
  height: 2rem;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 1.5rem;
}

.loadingRecipeSkeleton__ingredient {
  height: 1.5rem;
  width: 100%;
  background-color: #ddd;
  margin-bottom: 0.5rem;
}

.loadingRecipeSkeleton__instructionsTitle {
  width: 100%;
  height: 2rem;
  background-color: #ddd;
  margin: 1.5rem 0 1.5rem 0;
}

.loadingRecipeSkeleton__instructionsText {
  width: 100%;
  height: 5rem;
  background-color: #ddd;
}
