.recipeLink__container {
  padding: 1.5rem;
  background-color: #faf0e630;
  margin: 1rem 0;
  box-shadow: 0 2px 6px -4px #4d4a48;
  border: none;
  width: 100vw;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  text-align: start;
  color: #333;
  text-decoration: none;
}

.recipeLink__primaryText {
  font-size: 1.5rem;
  padding: 0 0 12px 0;
}

.recipeLink__secondaryText {
  font-size: 1rem;
}
